.itemContainer{
    float:left;
    margin:45px;
    padding: %100;
    width: 200px;
    height: 200px;
    background: #ff5555;
    border-radius:50px;
    border-color: red;
    }
.square {
    float:left;
    margin:45px;
        background-color: #4C2447;
        width: 200px;
        height: 200px;
        border-radius:50px;
    border-color: red;
    
    
      }    
footer {
    text-align: center;
    padding: 3px;
    color: white;
  }
  body {
    font-family: monospace;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #4C2447;
    color: #F4C430;
    padding: 16px;
}

.column {
    width: 40%;
}

p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}